[submodule "Carthage/Checkouts/Bass"]
	path = Carthage/Checkouts/Bass
	url = https://github.com/335g/Bass.git
[submodule "Carthage/Checkouts/SwiftCheck"]
	path = Carthage/Checkouts/SwiftCheck
	url = https://github.com/typelift/SwiftCheck.git
